<!doctype html>
<html class="no-js" lang="en" ng-app="studentApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Learn It! - Student</title>
        <meta name="description" content="Personalised Revision">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">LearnIt</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/teacher">Teacher</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/student">Student</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container mt-4" ng-controller="studentFormController as studentForm">
            <form ng-show="studentForm.source">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <h5>Source</h5>
                        <p>{{studentForm.source.source}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <h3 id="question">Q:
                            {{studentForm.source.question.text}}</h3>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <textarea type="text" class="form-control" id="answer" rows="10" required="required"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary" ng-click="studentForm.prev()">Previous</button>
                        <button type="submit" class="btn btn-primary ml-2" ng-click="studentForm.next()">Next</button>
                        <button type="submit" class="btn btn-primary" id="submit" ng-click="studentForm.submit()" style="float: right">Check</button>
                    </div>
                </div>
                <div class="row alert" role="alert" id="alert"></div>
            </form>
            <div class="alert alert-info" ng-show="!studentForm.source">No sources. Please set them in /teacher</div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <!-- <script src="/static/js/main.js"></script> -->
        <script type="text/javascript">
            angular.module('studentApp', []).controller('studentFormController', function () {
                var alert = $('#alert'),
                    studentForm = this,
                    data = localStorage.getItem("sources");
                if (data !== null) {
                    var source = JSON.parse(data);
                    studentForm.source = {
                        source: source.source,
                        question: source.questions[source.currentQuestion]
                    }
                } else {
                    // Display no question
                }
                studentForm.next = function () {
                    // Update next question
                    if (source.currentQuestion + 1 < source.questions.length) {
                        source.currentQuestion++;
                        studentForm.source.question = source.questions[source.currentQuestion];
                        window.localStorage.setItem("sources", JSON.stringify(source));
                    } else {
                        // done
                    }
                };

                studentForm.prev = function () {
                    // Update next question
                    if (source.currentQuestion - 1 >= 0) {
                        source.currentQuestion--;
                        studentForm.source.question = source.questions[source.currentQuestion];
                        window.localStorage.setItem("sources", JSON.stringify(source));
                    } else {
                        // done
                    }
                };
                studentForm.submit = function () {
                    alert.text('');
                    var data = {

                    }
                    $.post("/learn", data).done(function ($scope) {
                        console.log("success");
                        alert.text("Your answer is correct :)")
                        alert.removeClass("alert-danger");
                        alert.addClass("alert-success");
                    }).fail(function ($scope) {
                        console.log("error");
                        alert.text("Your answer is wrong! Try again :)");
                        alert.removeClass("alert-success");
                        alert.addClass("alert-danger");
                    });
                }
            });
            // $(document).ready(function () {     console.log("ready!"); });
        </script>
    </body>
</html>